fastapi==0.115.4
uvicorn==0.27.1
python-dotenv==1.0.1
pydantic==2.9.2
pydantic-settings==2.1.0
openai==1.54.1
sentence-transformers==3.2.1
docarray==0.40.0
python-multipart==0.0.16
PyMuPDF==1.24.12
langchain==0.3.7
langchain-openai==0.2.6
tiktoken==0.8.0
numpy==1.26.4
pandas==2.2.3
