fastapi>=0.103.0,<0.104.0
uvicorn>=0.23.1,<0.24.0
websockets>=12.0
pydantic>=2.7.0,<3.0.0
python-dotenv>=1.0.0
openai>=1.40.0,<2.0.0
PyPDF2>=3.0.1
nltk>=3.8.1
langchain-openai>=0.1.25
pydantic-settings>=2.6.1
